.shopping-cart{
	width: 75%;
	height: auto;
	list-style: none;
	margin-top: 10px;
	display: block;
	float: left;
	margin-right: 4%;
	margin-left: 1%;
	>li{
		width: 100%;
		height: 125px;
		border: 1px solid grey;
		margin-bottom: 10px;
		position: relative;
		>img{
			margin: 13px 0px 0px 10px;
			float: left;
		}
		
		.id,p{
			display: block;
			float: left;
			// margin-left: 20px;
			height: 125px;
			line-height: 125px;
			font-size: 20px; 
		}
		.id{
			width: 181px;
			text-align: center;	
			text-decoration: none;
		}
		.remove-item{
			position: absolute;
			right: 20px;
			bottom: 10px;
		}
	}
}
.total{
	width: 100%;
	text-align: right;
}
.input-button{
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #000;
	background-color: #F2F1F0;
	width: 192px;
	margin: 10px 0px 0px 0px;
	height: 40px;
	border-radius: 25px;
	border: 1px solid grey;
	cursor: pointer;
	display: inline-block;
}
.link-wraper{
	width: auto;
	float: right;
}
.basket-summary{
	width: 20%;
	height: 250px;
	display: block;
	float: left;
	border: 1px solid transparent;
	box-sizing: border-box;
	margin-top: 10px;
	>p:nth-of-type(1){
		width: 100%;
		text-align: center;
		span{
			font-style: italic;
			color: grey;
		}
	}
	>p:nth-of-type(2){
		width: 100%;
		text-align: center;		
		font-weight: bold;
		font-size: 22px;
	}	
	hr{
		margin: 0px auto;
	}
}
